body {
  margin: 70px 0;
  display: flex;
  justify-content: center;

}

.container {
  width: 760px;
  /*height: 760px;*/
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}